@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap");


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  box-sizing: border-box;
  // font-family: "Roboto", sans-serif;
  // color: #202020;

  //background-color: $secondaryBackgroundColor;
  // font-smooth: always;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  background-color: whiteSmoke;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}