@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
@import "./Abstracts/mixins.scss";
@import "./Abstracts/variables.scss";

.companies {
  height: auto;

  .companies-container {
    display: flex;

    .page-left-navigation {
      flex: 20%;
    }

    .page-left-navigation-hidden {
      display: none;
    }
    .page-top-right-navigation-page-content {
      flex: 80%;
      display: flex;

      flex-direction: column;

      .top-right-navigation {
        flex: 8%;
      }
      .page-content {
        flex: 82%;
        height: auto;
        min-height: 60rem;

        .companies {
          // height: auto;
          width: 96%;
          margin: 2rem auto;
          // padding: 2rem;
          @include responsiveSite(phone) {
            padding: 1rem;
          }

          .companies-container {
            //loader

            .loader-companies {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              height: 200px;
              width: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            display: flex;
            flex-direction: column;

            .companies-container-current-company {
              height: auto;

              padding-right: 2rem;

              display: flex;
              flex-direction: column;
              align-items: flex-end;

              width: 100%;
              // margin: 0 auto;

              .current-company {
                flex: 40%;

                h3 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  font-family: "Montserrat", sans-serif;
                  color: $colorGrey;
                  span {
                    color: $primaryColor;
                  }
                }
              }

              .loader-updatedefault-company {
                height: 10rem;
                width: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .list-my-companies {
                flex: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .container-select-company {
                  flex: 60%;

                  select {
                    width: 100%;
                    height: 4rem;
                    font-size: 1.6rem;
                    color: $colorGrey;
                    margin: 1.5rem 0;
                    outline: none;
                    border: none;
                  }
                }

                .container-change-company {
                  flex: 40%;

                  .btn-change-company {
                    width: 100%;
                    height: 4rem;
                    margin: 0.2rem auto;
                    padding: 1rem;
                    background-color: transparent;

                    border: none;
                    color: $primaryColor;
                    font-size: 1.7rem;
                    cursor: pointer;
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                    text-decoration: none;
                    display: inline-block;
                    outline: none;

                    &:hover {
                      background-color: #1a62ff;
                      color: $colorWhite;
                    }
                  }
                }
              }
            }

            .companies-container-header {
              // flex: 20%;
              height: 14rem;

              width: 100%;

              .page-header-companies {
                font-size: 2.7rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;

                margin-bottom: 1.5rem;
                border-bottom: 1px dotted $colorGrey;
              }

              .link-create-company {
                margin-bottom: 2rem;
                float: right;
                font-size: 1.4rem;
                background-color: $secondaryColorLight;

                //       $secondaryColorLight: #4680ff;
                // $secondaryColor: #1a62ff;
                padding: 1rem;

                color: $colorWhite;
                &:hover {
                  background-color: $secondaryColor;
                }

                .icon-add-company {
                  vertical-align: middle;
                  margin-right: 0.5rem;
                }
              }
            }
            .companies-list {
              padding: 3rem 0;

              width: 100%;

              height: auto;
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
              grid-gap: 0.5rem;
              position: relative;
              .container-no-company-found {
                top: 50%;
                left: 50%;
                position: absolute;

                width: 80%;
                transform: translate(-50%, -50%);
                .container-no-company-found-icon {
                  text-align: center;
                  color: $colorDanger;
                }
                .container-no-company-found-text {
                  text-align: center;
                  h2 {
                    font-size: 2.2rem;
                    font-weight: 400;
                    font-family: "Montserrat", sans-serif;
                    margin-bottom: 2rem;
                  }

                  .link-create-company {
                    margin: 2rem auto;

                    font-size: 1.4rem;
                    background-color: $secondaryColorLight;

                    //       $secondaryColorLight: #4680ff;
                    // $secondaryColor: #1a62ff;
                    padding: 1rem;

                    color: $colorWhite;
                    &:hover {
                      background-color: $secondaryColor;
                    }

                    .icon-add-company {
                      vertical-align: middle;
                      margin-right: 0.5rem;
                    }
                  }
                }
              }
              ///
              @include responsiveSite(phone) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                grid-gap: 0.2rem;
              }
            }
          }
        }
      }
    }
  }
}
