@import "./Abstracts/variables.scss";
.left-navigation {
  height: 100%;

  background-color: $primaryColor;
  color: white;
  display: flex;
  flex-direction: column;
  .top-nav-brand {
    height: 8rem;
    display: flex;
    align-items: center;

    .top-nav-brand {
      // padding-left: 1rem;
      margin: 0 2rem;

      h2 {
        // padding: 0 0.5rem;
        color: $colorWhite;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
  .left-navigation-items {
    flex: 80%;
    width: 100%;
    height: 100%;
    padding: 2rem 0;

    li {
      width: 100%;

      margin-bottom: 1.3rem;
      // padding-left: 2rem;
      list-style: none;

      a {
        // margin: 2rem 0;
        font-size: 1.8rem;
        width: 100%;
        height: 6rem;
        cursor: pointer;
        display: flex;
        padding: 1.5rem 3rem;
        align-items: baseline;
        color: $colorWhite;
        // text-align: left;

        .top-nav-icon {
          // vertical-align: middle;
          //margin-right: 1rem;
          flex: 20%;
        }
        .top-nav-right-arrow-icon {
          // vertical-align: middle;
          // margin-left: 1rem;
          float: right;
          flex: 20%;
        }
        span {
          flex: 60%;
        }

        &:hover {
          background-color: $colorBackgroundWhiteSmoke;
          color: $primaryColor;
          border-radius: 3rem 0 0 3rem;

          /*
          padding: 1rem 0;
          border-radius: 3rem 0 0 3rem;
          */
        }
      }

      //handle active nav item
      .active-nav-item {
        background-color: $colorBackgroundWhiteSmoke;
        color: $primaryColor;
        border-radius: 3rem 0 0 3rem;
      }

      //nav items children
      ul {
        width: 100%;
        height: 100%;

        // padding: 2rem 0;
        li {
          width: 100%;

          // margin-bottom: 1.3rem;
          padding: 0 0 0 2rem;
          margin: auto;

          height: auto;
          list-style: none;
          transition: all 1s ease-out;

          a {
            font-size: 1.4rem;
            width: 100%;

            height: auto;
            // height: 6rem;
            cursor: pointer;
            // display: flex;
            // padding: 1.5rem 3rem;
            color: $colorWhite;

            &:hover {
              background-color: transparent;
              color: $colorWhite;
            }
          }
        }
      }
    }
  }

  .left-navigation-support {
    height: auto;

    margin: 1rem 0 4rem 0;
    width: 100%;

    .left-navigation-support-container {
      width: 94%;
      height: 100%;
      margin: 0 auto;

      background-color: $colorBackgroundWhiteSmoke;
      padding: 1rem;
      text-align: center;
      .left-nav-support-icon {
        color: $primaryColorDark;
      }

      h2 {
        color: $colorGrey;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
      }
      p {
        color: $colorGrey;
        font-size: 1.6rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }
      .btn-support-team {
        height: 4rem;
        width: 80%;
        margin: 1rem auto;
        background-color: $primaryColorDark;
        border: none;
        outline: none;
        color: $colorWhite;
        font-size: 1.7rem;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        text-decoration: none;
        display: inline-block;

        &:hover {
          background-color: $primaryColor;
        }
      }
    }
  }
}
