@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
@import "./Abstracts/mixins.scss";
@import "./Abstracts/variables.scss";

.newproduct {
  height: auto;

  //flex-direction: column;
  .newproduct-container {
    display: flex;

    .page-left-navigation {
      flex: 20%;
    }

    .page-left-navigation-hidden {
      display: none;
    }

    .page-top-right-navigation-page-content {
      flex: 80%;
      display: flex;

      flex-direction: column;

      .top-right-navigation {
        flex: 8%;
      }
      .page-content {
        flex: 82%;
        height: auto;
        min-height: 60rem;
        .new-product {
          height: auto;
          //background-color: white;

          padding: 3rem 0;
          .new-product-form-container {
            width: 96%;
            margin: 0 auto;
            padding: 2rem;
            .products-container-header {
              // flex: 20%;
              height: 14rem;

              .page-header-products {
                font-size: 2.7rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;

                margin-bottom: 1.5rem;
                border-bottom: 1px dotted $colorGrey;
              }
            }

            .create-product-alert {
              background-color: $colorAlertBackground;
              border-color: transparent;
              color: $colorAlert;
              padding: 1rem;
              font-size: 1.6rem;
              height: 5rem;
            }
            .loader-icon-create-product {
              height: 8rem;
              width: auto;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            //required field label
            .required-field {
              color: $colorRed;
              font-size: 1.4rem;
            }
            .form-new-product {
              display: flex;
              @include responsiveSite(tab-land) {
                flex-direction: column;
              }
              .form-new-product-left {
                flex: 50%;
                padding: 1rem 1rem 1rem 0;

                .form-control-checkbox {
                  font-size: 1.8rem;
                  .IsProductActive {
                    input {
                      height: initial;
                      // align-items: flex-start;
                    }
                    span {
                      color: $secondaryColorLight;
                      margin-left: 1rem;
                      font-size: 1.6rem;
                    }
                  }
                }
                .form-control {
                  height: 4rem;
                  width: 100%;
                  position: relative;
                  margin: 3rem auto;

                  input {
                    width: 100%;

                    height: 100%;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    border-bottom: 2px solid silver;
                    font-size: 1.7rem;
                  }
                  label {
                    position: absolute;
                    bottom: 3rem;
                    left: 0;
                    color: $primaryColor;
                    pointer-events: none;
                    font-size: 1.5rem;
                    transition: all 0.3s ease;
                  }

                  select {
                    width: 100%;

                    height: 100%;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    border-bottom: 2px solid silver;
                    font-size: 1.7rem;
                  }
                }
              }
              .form-new-product-right {
                flex: 50%;
                padding: 1rem 2rem;

                @include responsiveSite(tab-land) {
                  padding: 0;
                }

                .form-control {
                  height: 4rem;
                  width: 100%;
                  position: relative;
                  margin: 3rem auto;

                  input {
                    width: 100%;

                    height: 100%;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    border-bottom: 2px solid silver;
                    font-size: 1.7rem;
                  }
                  label {
                    position: absolute;
                    bottom: 3rem;
                    left: 0;
                    color: $primaryColor;
                    pointer-events: none;
                    font-size: 1.5rem;
                    transition: all 0.3s ease;
                  }

                  select {
                    width: 100%;

                    height: 100%;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    border-bottom: 2px solid silver;
                    font-size: 1.7rem;
                  }
                }
              }
            }
          }

          .btn-create-product {
            width: 20%;
            height: 4rem;
            margin: 0.2rem auto;
            background-color: $secondaryColorLight;

            border: none;
            color: white;
            font-size: 1.7rem;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            text-decoration: none;
            display: inline-block;
            outline: none;

            &:hover {
              background-color: $primaryColor;
            }
          }

          .btn-update-product {
            width: 20%;
            height: 4rem;
            margin: 0.2rem 0.5rem;
            background-color: $colorDanger;

            border: none;
            color: white;
            font-size: 1.7rem;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            text-decoration: none;
            display: inline-block;
            outline: none;

            &:hover {
              background-color: $colorRed;
            }
          }
        }
      }
    }
  }
}
