$colorAlertBackground: #faebeb;
$colorAlert: #521822;
$color-grey-dark: #777;
$colorSilver: silver;
$colorGrayDarker: #515b6d;
$colorWhite: #fff;
$primaryColor: #0078d4;
$secondaryColorLight: #4680ff;
$secondaryColor: #1a62ff;
$primaryColorDark: #005799;
$AppBackgroundColor: whitesmoke;
$colorDarkerBlue: #0c1322;
$colorLighterGrey: #9297a3;
$colorPrimaryLighterGrey: #d8d8d8;
$colorGrayDarkerSecondary: #5e626b;
$colorFooterText: #212b3f;
$colorPrimaryDarker: rgb(36, 58, 94);
$colorBackgroundWhiteSmoke: rgb(236, 240, 245);
$colorGrey: #777;
$colorWhite: #fff;
$colorRedLighter: #ff3333;
$colorRed: #ff0000;
$colorGreen: #9ccc65;
$colorDanger: #ff5252;
$colorOrange: #ffaf1a;
$colorSuccesssAlert: #3c763d;
$colorSuccesssAlertbackground: #dff0d8;
$colorSuccesssAlertborder: #d6e9c6;


//......................................
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$light_blue: #8ac1eb;
$blue: #4680ff;
$dark-blue: #0c1322;
$grey: #777;
$light-grey: #ecf0f5;

